/* -----------------fonts-------------------- */

/* font-family: 'Dosis', sans-serif;
font-family: 'Lobster Two', cursive; */

/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

html, body, .page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
    -webkit-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
    -moz-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
    -o-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);  
    color: #fff;
    overflow: hidden; 
  }
  
  .page {
    position: absolute;
  }
  
  #p1 {
    left: 0;
    text-align: center;
  }
  
  #p2, #p3, #p4, #p5, #p6, #p7,#p8,#p9,#p10,#p11, #p12{
    left: 200%;
    text-align: center;
  }
  
  #p1 { background: darkslateblue; }
  #p2 { background: tomato; }
  #p3 { background: gold; }
  #p4 { background: deeppink; }
  #p5 { background: rebeccapurple; }
  #p6 { background-image: url(./pictures/testperson.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;    
}
  #p7 { background-image: url(./pictures/testmulti.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;  
}
  #p8 { background: gold; }
  #p9 { background: deeppink; }
  #p10 { background: rebeccapurple; }
  #p11 { background: rebeccapurple; }
  #p12 { background: rebeccapurple; }


  
  #quien-soy:target #p2,
  #cosas-feliz:target #p3,
  #cosas-enojar:target #p4,
  #unico:target #p5,
  #test-person:target #p6,
  #test-intel:target #p7,
  #decidi:target #p8,
  #metas:target #p9,
  #gratitude:target #p10,
  #social:target #p11,
  #footer:target #p12{
    transform: translateX(-190%);
    -webkit-transform: translateX(-190%);
    -moz-transform: translateX(-190%);
    -o-transform: translateX(-190%);
    transition-delay: .4s !important;
  }
  
  #quien-soy:target #p1,
  #cosas-feliz:target #p1,
  #cosas-enojar:target #p1,
  #unico:target #p1,
  #test-person:target #p1,
  #test-intel:target #p1,
  #decidi:target #p1,
  #metas:target #p1,
  #gratitude:target #p1,
  #social:target #p1,
  #footer:target #p1{
    background: black;
  }
  
  #quien-soy:target #p1 .icon,
  #cosas-feliz:target #p1 .icon,
  #cosas-enojar:target #p1 .icon,
  #unico:target #p1 .icon,
  #test-person:target #p1 .icon,
  #test-intel:target #p1 .icon,
  #decidi:target #p1 .icon,
  #metas:target #p1 .icon,
  #gratitude:target #p1.icon,
  #social:target #p1.icon,
  #footer:target #p1 .icon{
    filter: blur(3px);
  }
  
  .icon {
    color: #fff;
    font-size: 32px;
    display: block;
  }
  
  ul .icon:hover {
    opacity: 0.5;
  }
  
  .page .icon .title {
    line-height: 2;
  }
  
  #quien-soy:target ul .icon,
  #cosas-feliz:target ul .icon,
  #cosas-enojar:target ul .icon,
  #unico:target ul .icon,
  #test-peron:target ul .icon,
  #test-intel:target ul .icon,
  #decidi:target ul .icon,
  #metas:target ul .icon,
  #gratitude:target ul .icon,
  #social:target ul .icon,
  #footer:target ul .icon{
    transform: scale(.6);
    -webkit-transform: scale(.6);
    -moz-transform: scale(.6);
    -o-transform: scale(.6);
    transition-delay: .25s;
  }
  
  #quien-soy:target #dos,
  #cosas-feliz:target #tres,
  #cosas-enojar:target #cuatro,
  #unico:target #cinco,
  #test-peron:target #seis,
  #test-intel:target #siete,
  #decidi:target #ocho,
  #metas:target #nueve,
  #gratitude:target #diez,
  #social:target #once,
  #footer:target #doce {
    transform: scale(1.2) !important;
    -webkit-transform: scale(1.2) !important;
    -moz-transform: scale(1.2) !important;
    -o-transform: scale(1.2) !important;
  }
  
  ul {
    position: fixed;
    overflow: scroll;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    /* margin: auto; */
    height: 100%;
    width: 10%;
    padding: 0;
    text-align: center;
    margin: 0;
    background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);

   }
  
   ul::-webkit-scrollbar{
       width: 1px;
   }

  #menu .icon {
    margin: 30px 0;
    transition: all .5s ease-out !important;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
  }
  
  a {
    text-decoration: none;
  }
  
  .title, .hint, ol {
    display: inline-block;
    
  }

  
  .title {
    font-size: 20px;
    font-family: 'Lobster Two', cursive;
    text-transform: capitalize;

  }
  
  .hint {
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    text-transform: initial;


  }
  
  #p4 .hint {
    display: inherit !important;
  }
  
  
  .page .icon {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 70%;
    height: 100%;
    margin: auto;
    text-align: center;
    font-size: 80px;
    line-height: 1.3;
    transform: translateX(360%);
    -webkit-transform: translateX(360%);
    -moz-transform: translateX(360%);
    -o-transform: translateX(360%);
    transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
    -webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
    -moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
    -o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
    
  }

  
  
  .page#p1 .icon {
    height: 220px;
  }
  
  .page#p1 .icon {
    transform: translateX(10%) !important;
  }
  
  #quien-soy:target .page#p2 .icon,
  #cosas-feliz:target .page#p3 .icon,
  #cosas-enojar:target .page#p4 .icon,
  #unico:target  .page#p5 .icon,
  #test-person:target .page#p6 .icon,
  #test-intel:target .page#p7 .icon,
  #decidi:target .page#p8 .icon,
  #metas:target  .page#p9 .icon,
  #gratitude:target .page#p10 .icon,
  #social:target .page#p11 .icon,
  #footer:target .page#p12 .icon{
    transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
    -o-transform: translateX(0) !important;
    transition-delay: 1s;
  }

/* -------------------------CUSTOM STYLES 2--------------------- */
  
img{
    width: 300px;
    height: 300px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 6px 6px 1px rgba(43, 165, 63, 0.466);
}

#p1  section{
    width: 700px;
    display:grid;
    grid-template-columns: 1fr;
    margin: 100px auto;
    

}

ol{
    text-align: left;
}

#p6 .title, #p7 .title{
    position: absolute;
    top: 0;
    color: rgb(37, 35, 35);
}



